body {
   
    border: 1px solid black;
    background-color: rgb(216, 220, 233);
}


h1 {
    color:rgb(118, 146, 212)
}

header{
    color:rgb(118, 146, 212)  
}

main#conteudo-principal{
    border-right: 2px solid rgb(0, 0, 0);
}

aside{
    border-left: 1px solid  rgba(0, 0, 0, 0);
}

table{
    border-top: 2px solid #111111;
    border-bottom: 2px solid #111111;
}

td{
    border-top: 1px solid rgb(0, 0, 0);
}

tr:hover {
    background-color: rgb(172, 184, 214);
}

fieldset {
    border: 1px solid #3b3a3a;
    background-color: rgb(172, 184, 214);;
}

legend {
    background-color: #efefef;
    border: 1px solid #000000;
}

a:hover {
    color: blue;
}
a{
  color:rgb(31, 15, 124);  

}
a:visited{
    color:rgb(31, 15, 124);
}
